*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.slider{
    max-width: 940px;
    margin:auto;
}

.slider-item{
    height: 300px;
    margin: 0 16px;
}

.slider-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slick-list{
    margin: 0 30px;
}

.slick-arrow, .slick-arrow:hover{
    z-index: 1;
    width: 50px;
    height: 50px;
}

.slick-arrow:before{
    font-size: 40px;
    color: #000000;
    font-style: normal;
}

.section_slider{
    background-color: #F5F5F5;
}

.slick-list{
    padding-bottom: 30px;
}

.slick-dots li button{
    font-style: normal;
}

.slick-dots li button:before{
    font-size: 10px;
    color: #7EC4BD;
    opacity: .50;
}